<!DOCTYPE html>
<html>
<head>
    <title>Myuv: Quick Movie Ratings</title>

    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" rel='stylesheet' type='text/css'>
    <link href="build/style.css" rel='stylesheet' type='text/css'>

    <meta name="description" content="Quickly search and find movie ratings across the web. Myuv uses average ratings from reliable sources such as Rotten Tomatoes, IMDB, and The Movie Database." />

    <!-- Home screen stuff -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Icons -->
    <!-- <link rel="shortcut icon" href="http://elfreyshira.com/images/favicon.ico" /> -->
    <link rel="shortcut icon" href="resources/apple-icon-32x32.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="resources/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="resources/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="resources/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="resources/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="196x196" href="resources/apple-icon-196x196.png" />

    <link rel="icon" sizes="196x196" href="resources/apple-icon-196x196.png" />

</head>
<body ng-app="myuv" ng-controller="MainController">


    <div class="row header">
        <h1 class='title'>Myuv</h1>
        <span>by <a href="http://elfreyshira.com">Elfrey</a></span>
    </div>

    <div class="login-container">
        
        <div class="row" ng-if="!isLoggedIn()">
            <div class="medium-4 medium-centered columns">
                
                <p>
                    <a href="" ng-click="loginView = !loginView; registerView = false;">Login</a>
                    |
                    <a href="" ng-click="registerView = !registerView; loginView = false;">Register</a>
                </p>
                <div ng-if="loginView">

                    <form ng-submit="login(user.email, user.password)">
                        <input ng-model="user.email" type="email" placeholder="login email">
                        <input ng-model="user.password" type="password" placeholder="password">
                        <input type="submit" class="button" value="Login">
                    </form>

                </div>

                <div ng-if="registerView">

                    <form ng-submit="register(user.email, user.password, user.repeatPassword)">
                        <input ng-model="user.email" type="email" placeholder="register email">
                        <input ng-model="user.password" type="password" placeholder="new password">
                        <input ng-model="user.repeatPassword" type="password" placeholder="repeat new password">
                        <input type="submit" class="button" value="Sign Up">
                    </form>

                </div>

            </div>
        </div>
        <div class="row" ng-if="isLoggedIn()">
            <p>
                {{userEmail}} | <a href="" ng-click="logout()">Logout</a>
            </p>
        </div>
        
        <div class="row" ng-if="isLoggedIn()">
            <p>
                <a href="" ng-click="showFavoritesList = !showFavoritesList" class="show-favorites">
                    Favorites
                    <span ng-class="{'arrow-down': !showFavoritesList, 'arrow-up': showFavoritesList}"></span>
                </a>
                <div ng-show="showFavoritesList"
                    class="text-center list-of-favorites column large-3
                            medium-4 small-10 small-centered medium-centered large-centered">
                    <ul class="no-bullet">
                        <li ng-repeat="favorite in favorites">
                            <a ng-click="fetchResults({id: favorite.rtId})">
                                {{ favorite.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </p>

        </div>
    </div>



    <div class="row">

        <div class="medium-9 medium-centered columns">

            <form ng-submit="fetchResults({q: queryObj})">

                <input type="text" placeholder="Type movie and submit"
                    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                    ng-model="queryObj"
                    typeahead="movie for movie in autocomplete($viewValue)"
                    typeahead-input-formatter="$model.title"
                    typeahead-on-select="fetchResults(queryObj)"
                    typeahead-wait-ms="100"
                    typeahead-template-url="templates/autocomplete.html">
                </input>

            </form>

        </div>

    </div>

    <div class="row">
        
        <div class="column large-8 medium-9 small-11 small-centered medium-centered large-centered">

            <!-- Movie search results -->
            <div class="row" ng-repeat="movie in movieSearchResults">
                <div movie-result movie="movie"></div>
            </div>

        </div>
    </div>
    <!-- <div ng-include src="'templates/search-results.html'"></div> -->


    <script src="build/script.js"></script>

    <!-- frame breaker -->
    <script language='JavaScript' type='text/javascript'>
        if(parent.frames.length>=1) {
            window.top.location.href="" 
        }
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29830971-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>