<!DOCTYPE html>
<html>
<head>
    <title>Myuv: Quick Movie Ratings</title>

    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css" rel='stylesheet' type='text/css'>
    <link href="build/style.css" rel='stylesheet' type='text/css'>

    <meta name="description" content="Quickly search and find movie ratings across the web. Myuv uses average ratings from reliable sources such as Rotten Tomatoes, IMDB, and The Movie Database." />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="http://elfreyshira.com/images/favicon.ico" />

</head>
<body ng-app="myuv" ng-controller="MainController">

    

    <div class="row header">
        <h1 class='title'>Myuv</h1>
        <span>by <a href="http://elfreyshira.com">Elfrey</a></span>
    </div>

    <!-- Autocomplete template -->
    <script type="text/ng-template" id="templates/autocomplete.html">
      <a>
          <span> {{match.label.title}} ({{match.label.year}}) </span>
      </a>
    </script>

    <div class="row">

        <div class="medium-9 medium-centered columns">

            <form ng-submit="fetch(queryObj.title)">

                <input type="text" placeholder="Type movie and submit"
                    ng-model="queryObj"
                    typeahead="movie for movie in autocomplete($viewValue)"
                    typeahead-input-formatter="$model.title"
                    typeahead-on-select="fetchAutocomplete(queryObj)"
                    typeahead-wait-ms="100"
                    typeahead-template-url="templates/autocomplete.html">
                </input>

            </form>
        </div>

    </div>


    <div class="row" ng-repeat="movie in movieSearchResults">
        <div class="movie-result large-8 medium-9 small-11 column small-centered medium-centered large-centered">
            
            <div class="movie-ratings row">
                <div ng-repeat="source in movie.sources"
                    class="small-2 columns {{columnOffset(movie.sources.length, $first)}}"
                    ng-class="{'end': $last}"
                    result-bar rating="{{source.rating}}" out-of="{{source.outOf}}">
                    <div class="source-rating-container">
                        <span class="source-rating">{{source.rating}}</span>
                        <span class="source-out-of">
                            {{source.outOf === '%' ?
                                '%' : ('/ ' + source.outOf) }}
                        </span>
                    </div>
                    <span class="source-label">
                        <a target="_blank" ng-href="{{source.link}}">{{source.label}}</a>
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="movie-title small-centered small-{{movie.sources.length * 2}} columns">
                    {{movie.title}} ({{movie.year}})
                </div>
            </div>
        </div>
    </div>

    <script src="build/script.js"></script>

    <!-- frame breaker -->
    <script language='JavaScript' type='text/javascript'>
        if(parent.frames.length>=1) {
            window.top.location.href="" 
        }
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29830971-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>